<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Medium</h1>
                <p class="lead fw-normal text-white-50 mb-0">유료 멤버십에 가입하면 유료글을 열람할 수 있습니다.</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="post : ${postList}">

                    <div class="card h-100" >
                        <!-- Product image-->
                        <!--                        <img class="card-img-top" src="" alt="..."/>-->
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- post title-->
                                <h5 class="fw-bolder" th:text="${post.title}"></h5>
                            </div>
                            <!-- Product price-->
                            <div class="d-flex justify-content-end">
                                <div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div th:text="${post.author.username}"></div>
                            </div>

                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                        th:href="@{|/post/${post.id}|}">자세히 보기</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>